<div id="detail_view_full"> <!--  전체 프레임 시작 -->

    <div class="area_coupon">
    </div>

    <div class="arrow unfocus"></div>

    <ul class="series">

    </ul>
    <div class="detailTemplateArea">
        <div class="main_poster">
            <img src='' onerror='this.src="resources/images/no_img_big.png"'>
            <span class="ribbon"></span>
        </div>
        <div class="vod_detail_info"><!--  VOD 정보  -->
            <p class="vod_tit"></p>
            <ul class="grade">
                <li class="star"></li>
                <li class="star"></li>
                <li class="star"></li>
                <li class="star"></li>
                <li class="star"></li>
            </ul>
            <p class="mini_tit letter_space12 position_1">개 요</p>
            <p class="content position_2">
                <span class="content_info"></span>
                <!-- <span class="icon mgt_2"></span>
                <span class="icon_date mgt_2"></span> -->
                <span class="icon"></span>
                <span class="content_info">•</span>
                <span class="icon date"></span>
                <span class="content_info"></span>
            </p>
            <p class="mini_tit letter_space12 position_3">감 독</p>
            <p class="content position_4 width240"></p>
            <p class="mini_tit letter_space12 position_5">출 연</p>
            <p class="content position_6 width240"></p>
            <p class="mini_tit letter_space12 position_7">가 격</p>
            <p class="content position_8">
                <span class="icon mgt_2"></span>
                <span class='price mgt_6'></span>
                <span class='price2 mgt_6'>
                    <span class='before'></span>
                    <span class='arr'></span>
                    <span class='after'></span>
                </span>
            </p>
            <p class="mini_tit position_9">시청기간</p>
            <p class="content position_10"></p>

            <ul class="page_synop">
            </ul>

            <div class="synopsis unfocus">
                <div class="arr_left"></div>
                <div class="arr_right"></div>
                <div class="story"></div>
            </div>

            <div class="button">
                <div class="btn1 mgr11"></div>
                <div class="btn1 mgr11"></div>
                <div class="btn1 mgr11"></div>
                <div class="btn1 mgr11"></div>
            </div>
        </div><!-- // VOD 정보  -->
    </div>

    <!-- // VOD 정보  -->
    <div class="div_line width89 position_11"></div>
    <p class="tx_01">해당 VOD를 시청하신 분들이 많이 찾는 VOD</p>
    <div class="div_line width473 position_12 "></div>

    <div id="vod_list"><!-- 포스터 리스트 시작-->
    </div>
    <div class="colorkey zzim"><!-- 컬러키_검색 -->
        <span class="icon_key"></span>
        <span class="key_text">검색</span>
    </div>
    <!-- //컬러키_검색 -->

</div> <!-- // 전체 프레임 끝 -->