<div id="popup_large"> <!--팝업 전체 시작 -->
    <div class="bg_top"> <!--배경 Top 영역 시작 -->
        <div class="title">
            <span class="text">당첨자 발표</span>
        </div>

        <div class="tit_line"></div><!--20150622 추가 -->


        <div class="area_btn">
            <span class="bt_147 focus">확인</span> <!--unfocus or focus 중 택일-->
            <!-- <span class="bt_147 unfocus">취소</span> --> <!--unfocus or focus 중 택일-->        
        </div>
    </div><!--//배경 Top 영역 끝 -->
</div>