<div class="area_search" style="position: fixed;">
    <span class="icon_search"></span>
    <span class="text_search">검색</span>
    <span class="bar_search"><span class="text "></span></span>
</div>  
  <ul class="word">
  </ul>
  <div class="chkbox "><span>확장검색</span></div>
  <div class="key"><!--  key 시작 -->
    
  </div><!--  key 끝 -->  