<%
    var vodList = model.getData();
    var length = (vodList == null) ? 0 : vodList.length;
%>
<div class="bg_right__"> <!-- bg_right (오른쪽 메인영역 전체)--> 
  <div class="info_text"><span class="bold">0</span><span class="normal">건의 VOD가 있습니다.</span></div>
  <div id="vod_list01"><!-- 포스터 리스트 시작-->
</div>
<!-- // 전체 프레임 끝 -->


</div>