<div id="mytv"><!-- mytv-->
<% 
	if(model.getAssetList() == null)	{
		return;
	}
	var selectedAsset = model.getAssetList()[0];

%>
    <div class="title violet"><%= selectedAsset.getTitle() %></div>
    <div class="second_tit"><%= selectedAsset.getSynopsis() %></div>
    <div class="second_tit2"></div>
 
    <div class="list_guide"><img src=<%= selectedAsset.getImageFileName() %>><!-- wrap-->
    </div><!--//wrap--> 
    
    <div class="position_28">
      <span class="bt_147 unfocus">안내영상 시청</span>        
    </div> 
              
  </div><!-- //mytv-->  