<div id="index_main_bg"> <!--  전체 프레임 시작 -->

    <div id="index_area_header">

    </div><!--  //1_header-->

    <div id="index_area_poster"><!-- 2_poster 시작-->

    </div><!--  //2_poster-->

    <div id="index_area_menu"><!-- 3_menu 시작-->

    </div><!--  //3_menu-->

    <div id="index_area_app"><!-- 4_app 시작-->

    </div><!--  //4_iapp-->

</div> <!-- // 전체 프레임 끝 -->
  