<div class="title">쿠폰 & 할인권이란?</div>
  
  <div class="ex_wrap">
  <ul class="exp">
    <li class="tit">1) 쿠폰이란?</li>
    <li class="ex">쿠폰은 씨앤앰의 디지털방송 고객을 대상으로 유료 서비스를 구매할 수 있는 전자 화폐입니다.</li>
    <li class="ex">TV다시보기, 영화 등의 VOD 구매 시 쿠폰으로 결제하실 수 있습니다.</li>
    <li class="ex">(단, VOD월정액, 유료채널, 데이터방송 등 일부 서비스에는 쿠폰 결제가 불가합니다.)</li>
  </ul>
  <ul class="exp mgt20">
    <li class="tit">2) 할인권이란?</li>
    <li class="ex">고객 감사의 일환으로 일반결제로  VOD구매시 할인을 적용해주는 상품입니다.</li>
    <li class="ex">할인권을 보유하신 고객은 해당 VOD에 자동으로 적용 됩니다.</li>
  </ul>
  </div>
  <div class="position_29">
    <span class="bt_147 focus">목록보기</span>        
  </div>
  