<div class="title">VOD 쿠폰 요금제란?</div>
  
  <div class="ex_wrap">
  <ul class="exp">
    <li class="ex dot">최신 영화, TV 다시보기, 키즈, 애니메이션, 성인영화 등 다양한 장르의 채널을 VOD 일반구매보다</li>
    <li class="ex">20%~40% 저렴하게 이용하는 경제적인 상품입니다.</li>
    <li class="ex  dot">매월 자동결제 되는 요금제 상품으로 가입 시, 매월 초 자동 결제되며 적립액은 이월되지 않습니다.</li>
  </ul>
  </div>
  <div class="text_bg">
    <ul>
     <li class="tx_orange"> < VOD 쿠폰요금제별 혜택 ></li>
     <li class="tx_white">10요금제 : 월 10,000원 결제 → 12,000원 적립(20% 추가 보너스)</li>
     <li class="tx_white">20요금제 : 월 20,000원 결제 → 26,000원 적립(30% 추가 보너스)</li>
     <li class="tx_white">40요금제 : 월 40,000원 결제 → 56,000원 적립(40% 추가 보너스)</li>
    </ul>
  </div>
  <div class="mini_text">* 정책에 따라 요금제 및 보너스율은 변경이 가능합니다.</div>
  <div class="position_29">
    <span class="bt_147 focus">목록보기</span>        
  </div>
  