<div class="title">환불정책</div>
  
  <div class="ex_wrap">
  <ul class="exp">
    <li class="ex dot">유료쿠폰 구매 및 VOD 쿠폰요금제를 가입한 경우는 환불이 불가합니다.</li>
    <li class="ex">단, 씨앤앰 방송 상품 계약 해지 시에는 추가로 적립된 보너스를 제외한 금액이 환불됩니다.</li>
    <li class="ex dot">씨앤앰 및 씨앤앰 파트너사가 제공한 쿠폰은 씨앤앰 VOD 구매 시에만 사용가능 하며 씨앤앰 방송</li>
    <li class="ex">상품 해지 시 소멸 됩니다.</li>
  </ul>
  </div>
  <div class="position_29">
    <span class="bt_147 focus">목록보기</span>        
  </div>
  