<div class="title">쿠폰 등록 안내</div>
  
  <div class="ex_wrap">
  <ul class="exp">
    <li class="ex dot">씨앤앰에서 제공하는 쿠폰 또는 이벤트 당점에 의해 지급되는 쿠폰을 등록하여 유료VOD 및 유료</li>
    <li class="ex">월정액 상품을 구매 시 사용할 수 있습니다.</li>
    <li class="ex dot">쿠폰 등록 번호는 12자리로서, 쿠폰 & 할인권의 쿠폰등록 메뉴에서 등록하여야 사용 가능합니다.</li>
    <li class="ex">- 메뉴 > 마이TV > 쿠폰 & 할인권 > 쿠폰등록>지급받은 12자리 쿠폰번호 등록</li>
    <li class="ex">- 적립형 쿠폰 : 쿠폰 잔액 확인 (메뉴 좌측 상단에 제공)</li>
    <li class="ex">- 월정액 쿠폰 : 마이TV > 월정액 가입 목록 > 해당 월정액 상품 확인</li>
  </ul>
  </div>
  <div class="position_29">
    <span class="bt_147 focus">목록보기</span>        
  </div>
  