<div class="title">부가가치세 안내</div>
  
  <div class="ex_wrap">
  <ul class="exp">
    <li class="ex dot">TV 다시보기, 영화 등의 VOD 구매시 VOD 구매 금액의 10%를 부가가치세로 부과되게 됩니다.</li>
    <li class="ex">쿠폰으로 VOD 구매 시 부과되는 부가가치세는 쿠폰 잔액에서 차감됩니다.</li>
    <li class="ex">단, 보너스 쿠폰으로 구매하는 경우에는 부가가치세가 부과되지 않습니다.</li>
    <li class="ex mgt20 dot">할인권으로 VOD 구매 시 할인된 금액은 부가가치세가 부과되지 않습니다.</li>
  </ul>
  </div>
  <div class="position_29">
    <span class="bt_147 focus">목록보기</span>        
  </div>
