  <div class="title">쿠폰이용안내</div>
  
  <div class="ex_wrap">
  <ul class="exp">
    <li class="ex">－쿠폰 & 할인권에서 확인: 메뉴>마이TV>쿠폰 & 할인권) 쿠폰 사용 내역에서 쿠폰잔액 확인</li>
    <li class="ex">－TV다시보기, 영화, 교육어린이, 다큐오락/HD의 VOD 리스트 좌측 상단에서 쿠폰잔액 확인</li>
  </ul>
  <ul class="exp mgt20">
  <li class="tit">4) 쿠폰 사용내역 확인</li>
  <li class="ex">쿠폰 구매, VOD결제 등의 쿠폰사용내역은 쿠폰 & 할인권의 쿠폰 사용내역 메뉴에서 확인이 가능합니다.</li>
  <li class="ex">－메뉴>마이TV>쿠폰 & 할인권>쿠폰사용내역</li>
</ul>
  </div>
  <div class="scrollbg">
   <div class="scroll bottom"></div>
 </div>
  <div class="position_29">
  <span class="bt_147 focus">목록보기</span>        
</div>
