  <div class="title">쿠폰이용안내</div>
  
  <div class="ex_wrap">
  <ul class="exp">
    <li class="tit">1) 쿠폰 구매 하기</li>
    <li class="ex">쿠폰은 쿠폰 & 할인권(메뉴>마이TV>쿠폰 & 할인권)에서 구매할 수 있습니다.</li>
    <li class="ex">쿠폰을 구매하시면, 구매 쿠폰에 따라 보너스가 지급됩니다.</li>
    <li class="ex">쿠폰 구매 시 디지털방송 요금 고지서에 쿠폰 구매금액이 청구됩니다.</li>
  </ul>
  <ul class="exp mgt20">
    <li class="tit">2) 쿠폰 사용하기</li>
    <li class="ex">TV다시보기, 영화 등 유료VOD에서 구매를 선택합니다.</li>
    <li class="ex">일반결제/쿠폰결제/포인트결제 중 쿠폰결제를 선택하고 확인을 누릅니다.</li>
    <li class="ex">구매 내역을 확인하고 최종 결제하기를 선택합니다.</li>
    <li class="ex">유료VOD 결제가 완료되면서 쿠폰잔액에서 VOD금액이 차감됩니다.</li>
  </ul>
  <ul class="exp mgt20">
    <li class="tit">3) 쿠폰 잔액 확인하기</li>
    <li class="ex">- 쿠폰의 잔액은 쿠폰 & 할인권 >쿠폰사용내역 및 메뉴 좌측 상단에서 확인이 가능합니다.</li>
  </ul>
  </div>
 <div class="pagedown position_30 mgt5 focus">
 </div>
 <div class="scrollbg">
   <div class="scroll top"></div>
 </div>