  <div id="mytv"><!-- mytv-->
    <div class="title violet">종료 이벤트</div>
    <div class="second_tit">종료된 이벤트를 확인할 수 있습니다.(최근 3개월)<br>OK버튼을 누르면 당첨자를 확인할 수 있습니다.</div>
 
    <div class="list_wrap position_23"><!-- wrap/20141218 수정-->
        
    </div><!--//wrap-->     
    <div class="page position_39">
      <div class="pagenum"><span class="now">0</span><span class="slash">/</span><span class="all">0</span></div>
      <div class="pagedown mgt5 unfocus"></div>
    </div>        
  </div><!-- //mytv--> 
