<div id="pack"> <!--  전체 프레임 시작 -->

  <div class="area_coupon">
    <span class="icon_coupon"></span>
    <p class="header_text"></p>
    <span class="icon_sale"></span>
    <p class="header_text"></p>
  </div>
  
 <div class="bg_01"><span>패키지 할인</span></div>
 <div class="bg_02"><!--  bg_02 시작 -->
   



   </div><!--  bg_02 끝 -->
   
   <div class="colorkey undo"><!-- 컬러키_이전 -->
    <!-- <span class="icon_key"></span>
    <span class="key_text">이전</span> -->
  </div><!-- //컬러키_이전-->
  
</div>