<%
    var asset = model.getAsset();
    var bundleProduct = model.getBundleProduct();
    var title = bundleProduct != null ? bundleProduct.getProductName() : asset.getTitle();
%>
<div id="popup_large"> <!--팝업 전체 시작 -->
    <div class="bg_top"> <!--배경 Top 영역 시작 -->
        <div class="title">
            <span class="text">상품구매</span>
        </div>
        <div class="tit_line"></div><!--20150622 추가 -->

        <div class="body_headtext row01_a"><%= title %></div >
        <div class="body_subtext row01_a">결제 방법을 선택해 주세요.</div>
        <div class="area_option">

        </div>
        <div class="area_btn">
            <%
                var buttonSize = model.getButtonGroup().getSize()
                if(buttonSize > 0) {
                    for(var i = 0; i < buttonSize; i++) {
            %>
                    <span class="bt_147"><%= model.getButtonGroup().getButton(i).getLabel() %></span>
            <%      }
                }
            %>
        </div>
    </div><!--//배경 Top 영역 끝 -->

</div><!--//팝업 전체 끝-->
