<!-- <div class="info_text"><span class="bold">0</span><span class="normal">건의 VOD가 있습니다.</span></div> -->
<div id="vod_ranking02"><!-- 랭킹 리스트 시작-->
  <div class="left"></div><!-- 배경 왼쪽-->
  <div class="center"><!-- 배경 가운데 시작-->
  <div class="mainarea_text_01 focus"><!--  mainarea_text_01 시작 -->
    
</div><!--  //mainarea_text_01 끝 -->   
<div class="mainarea_horline"></div>   
<div class="mainarea_text_02 unfocus"><!--  mainarea_text_02 시작 -->

</div><!--  //mainarea_text_02 끝 -->
</div>


<div class="right">
<div class="mainarea_poster"><!-- mainarea_poster시작 -->
    
  
</div><!--  //mainarea_poster 끝 -->
</div>

<div><!-- //랭킹 리스트 끝-->
</div><!-- //bg_right -->
</div><!-- // 전체 프레임 끝 -->
