/*20150325 castis*/
@charset"utf-8";
@import url('base.css');
body:after {content:url(../images/cloud_bg02.png) -630px -90px no-repeat; content:url(../images/cloud_bg02.png) 0px -460px no-repeat; display: none;}
body {width:960px; height:540px; font:12px "산세리프2"; color:#6f6f6f; line-height:15px;}
input, select, textarea, table, tr, td, div, span {vertical-align:middle; font:12px "산세리프2"; color:#6f6f6f;}
a {cursor:pointer;}
body {width:960px; height:540px; overflow : hidden;}
#purchasePopup {z-index:10;}

/*promotion*/
#promotion {width:960px;height:540px;}
#promotion .promotion_bg {background:url(../images/cloud_promotion.png)  -70px 0px no-repeat; width:960px; height:318px; position:relative; top:222px; left:0px;}
#promotion .area_content {width:879px; height:212px;background:url("../images/promotion/pro_img_line.png") left top no-repeat;position:relative; top:26px; left:41px;}
#promotion .area_content .bigimg img{width:879px; height:212px;}

#promotion .area_text {width:888px; height:220px;background:url(../images/cloud_promotion.png)  0px -320px no-repeat;position:relative; top:20px; left:36px;}
#promotion .area_text .text {width:810px; height:125px;position:relative; top:24px; left:36px; font-size:16px;font-weight:bold;line-height:24px; text-overflow:ellipsis; overflow:hidden;color:#fff;}

#promotion .scroll {width:3px;height:125px;position:absolute; top:47px;left:891px;}
#promotion .scroll div.bar {width:2px;height:60px;background-color:#6c3bff; margin-left:1px;}

#promotion .page {position:absolute; top:190px; left:420px; text-align:center;height:25px; line-height:25px; display:inline-block;}
#promotion .page span.slash {background:url(../images/cloud_promotion.png)  0px 0px no-repeat; width:6px;height:15px; display:inline-block;}
#promotion .page span.now {font-size:16px; color:#fff;font-family:"산세리프2"; width:50px;display:inline-block; text-align:right;}
#promotion .page span.all {font-size:16px; color:#999;font-family:"산세리프2";width:50px;display:inline-block; text-align:left;}

#promotion .area_content2 {width:879px; height:212px;position:relative; top:26px; left:41px; border:#FF6 0px solid;}
#promotion .area_content2 .area_poster {}
#promotion .area_content2 .area_poster .poster.p1.unfocus {float:left; display:inline-block; width:109px;height:157px;position:absolute; left:27px; top:24px;}/*20150331*/
#promotion .area_content2 .area_poster .poster.p1.focus {float:left;display:inline-block;width:109px; height:157px; background:url(../images/spl_focus.png) 0 -170px  no-repeat; z-index:0; margin-right:4px; position:absolute; left:27px; top:24px;}/*20150519*/
#promotion .area_content2 .area_poster .poster.p2.unfocus {float:left; display:inline-block; width:109px;height:157px;position:absolute; left:148px;top:24px;}/*20150331*/
#promotion .area_content2 .area_poster .poster.p2.focus {float:left;display:inline-block;width:109px; height:157px; background:url(../images/spl_focus.png) 0 -170px  no-repeat; z-index:0; margin-right:4px; position:absolute; left:148px;top:24px;}/*20150519*/
#promotion .area_content2 .area_poster .poster.p3.unfocus {float:left; display:inline-block; width:109px;height:157px; position:absolute; left:269px;top:24px;}/*20150331*/
#promotion .area_content2 .area_poster .poster.p3.focus {float:left;display:inline-block;width:109px; height:157px; background:url(../images/spl_focus.png) 0 -170px  no-repeat; z-index:0; margin-right:4px; position:absolute; left:269px;top:24px;}/*20150519*/
#promotion .area_content2 .area_poster .poster li.text {float:left; width:97px; height:23px; font-size:16px; line-height:23px; color:#fff; font-family:"산세리프2"; text-align:center; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; margin-left:5px; margin-top:5px;}
#promotion .area_content2 .area_poster .poster li.img {width:97px; height:145px;white-space:nowrap; margin:8px 0 0 8px;text-overflow:ellipsis; overflow:hidden;background:url(../images/cloud_etc.png)  -440px -520px  no-repeat; background-color:#3d3d3d;}/*20150529*/
#promotion .area_content2 .area_poster .poster li.img img{width:97px; height:145px;}
#promotion .area_content2 .area_poster .poster li.ribbon {float:left; display:inline-block; width:54px; height:54px; position:relative; top:-174px; left:5px;}
#promotion .area_content2 .area_poster .poster li.ribbon.hot {width:54px; height:54px; background:url(../images/cloud_etc.png)  -1160px -40px  no-repeat;}
#promotion .area_content2 .area_poster .poster li.ribbon.rank01 {width:54px; height:54px; background:url(../images/cloud_etc.png)  -1220px -40px  no-repeat;}
#promotion .area_content2 .area_poster .poster li.ribbon.reco {width:54px; height:54px; bbackground:url(../images/cloud_etc.png)  -1120px -100px  no-repeat;}
#promotion .area_content2 .area_poster .poster li.ribbon.movie {width:54px; height:54px; background:url(../images/cloud_etc.png)  -1180px -100px  no-repeat;}
#promotion .area_content2 .area_poster .poster li.ribbon.event {width:54px; height:54px; background:url(../images/cloud_etc.png)  -1240px -100px  no-repeat;}
#promotion .area_content2 .area_poster .poster li.ribbon.sale {width:54px; height:54px; background:url(../images/cloud_etc.png)  -1120px -160px  no-repeat;}
#promotion .area_content2 .area_poster .poster li.ribbon.coupon {width:54px; height:54px; background:url(../images/cloud_etc.png)  -1180px -160px  no-repeat;}
#promotion .area_content2 .area_poster .poster li.ribbon.fav {width:54px; height:54px; background:url(../images/cloud_etc.png)  -1240px -160px  no-repeat;}
#promotion .area_content2 .area_poster .poster li.ribbon.new {width:54px; height:54px; background:url(../images/cloud_etc.png)  -890px -210px  no-repeat;}
#promotion .area_content2 .area_poster .poster li.ribbon.sale_sur {width:54px; height:54px; background:url(../images/cloud_etc.png)  -950px -210px  no-repeat;}
#promotion .area_content2 .area_poster .poster li.ribbon.sale_package {width:54px; height:54px; background:url(../images/cloud_etc.png)  -1010px -210px  no-repeat;}
#promotion .area_content2 .area_poster .poster li.tag {float:left; display:inline-block; width:54px; height:54px; position:relative; top:-176px; left:4px;}

#promotion .area_content2 .arr {display:inline-block; width:20px;height:38px; float:left;}
#promotion .area_content2 .arr.left.unfocus{background:url(../images/cloud_promotion.png)  -40px 0px no-repeat;position:absolute;}
#promotion .area_content2 .arr.left.focus {background:url(../images/cloud_promotion.png)  -10px 0px no-repeat;position:absolute;}
#promotion .area_content2 .arr.right.unfocus{background:url(../images/cloud_promotion.png)  -30px -40px no-repeat;position:absolute;}
#promotion .area_content2 .arr.right.focus {background:url(../images/cloud_promotion.png)  0px -40px no-repeat;position:absolute;}
#promotion .area_content2 .area_text3 {background:url(../images/cloud_promotion.png)  0px -730px no-repeat;width:460px; height:170px; position:absolute; left:420px;top:22px;}
#promotion .area_content2 .area_text3 .text {width:415px; height:125px; position:relative; top:20px; left:24px; font-size:16px;font-weight:bold;line-height:24px; text-overflow:ellipsis; overflow:hidden;color:#fff;}
#promotion .area_content2 .area_text2 {background:url(../images/cloud_promotion.png)  0px -550px no-repeat;width:584px; height:170px; position:absolute; left:296px;top:22px;}
#promotion .area_content2 .area_text2 .text {width:539px; height:125px; position:relative; top:20px; left:24px; font-size:16px;font-weight:bold;line-height:24px; text-overflow:ellipsis; overflow:hidden;color:#fff;}

#promotion .area_btn  {height:39px;width:100%; position:relative; top:162px; left:0px; text-align:center;}/*20150519*/
#promotion .area_btn span.button {display:inline-block;}
#promotion .area_btn span.button.unfocus {background:url(../images/cloud_btn.png)  -450px -200px no-repeat;width:147px; height:39px; display:inline-block;font-size:16px;color:#ccc;line-height:39px; margin:0 2px 0 2px;}
#promotion .area_btn span.button.focus {background:url(../images/spl_focus.png) 0 -40px no-repeat;width:147px; height:39px; display:inline-block;font-size:16px;color:#fff; line-height:36px;margin:0 2px 0 2px;}

.position01 {position:absolute; top:86px; left:3px;}
.position02 {position:absolute; top:86px; left:380px;}
.position03 {position:absolute; top:86px; left:258px;}
