<%
  var vodList = model.getData();
%>
<div class="info_text"><span class="bold">0</span><span class="normal">건의 VOD가 있습니다.</span></div>
  <div id="vod_ranking"><!-- 랭킹 리스트 시작-->
      <div class="left"></div><!-- 배경 왼쪽-->
      <div class="center"><!-- 배경 가운데 시작-->
      </div><!-- //배경 가운데 끝-->
      <div class="right"></div><!-- 배경 오른쪽-->

  <div><!-- //랭킹 리스트 끝-->
  </div><!-- //bg_right -->
  <div class="bt_bottom"><!-- bt_bottom -->
      <span class="bt_yellow"></span>
      <span class="bt_text">포스터보기</span>
  </div><!-- //bt_bottom -->
</div>
<!-- // 전체 프레임 끝 -->