<div class="info_text"><span class="normal">구매하신 VOD별 추천 리스트 입니다.</span></div>
<div id="vod_reco"><!-- 랭킹 리스트 시작-->
  <div class="left"></div><!-- 배경 왼쪽-->
  <div class="center"><!-- 배경 가운데 시작-->
  
      <div class="area_left"><!--추천리스트 시작-->
        <div class="reco_sub_tit">나만의 추천 VOD</div>
            <div class="list_group"><!--메뉴 리스트 시작-->
             
          </div><!--메뉴 리스트 끝 -->             
      </div><!--추천리스트 끝-->
      
      <div class="area_right"><!--area_right 시작 -->
                  
      </div><!--area_right 끝-->
      
  </div><!-- //배경 가운데 끝-->

  <div class="right"></div><!-- 배경 오른쪽-->

<div><!-- //랭킹 리스트 끝-->
</div><!-- //bg_right -->
</div>
<!-- // 전체 프레임 끝 -->