  <div id="mytv"><!-- mytv-->
    <div class="title violet">이벤트 목록</div>
    <div class="second_tit">현재 진행중인 이벤트 및 참여여부를 확인할 수 있습니다.<br>OK버튼을 누르면 상세 내용을 확인할 수 있습니다.</div>
 
    <div class="list_wrap position_23"><!-- wrap/20141218 수정-->
        
    </div><!--//wrap-->    
    <div class="page position_39">
      <div class="pagenum"><span class="now">0</span><span class="slash">/</span><span class="all">0</span></div>
      <div class="pagedown mgt5 unfocus"></div>
    </div>         
  </div><!-- //mytv--> 
