<div id="mytv"><!-- mytv-->
    <div class="title violet">몽키 3 뮤직</div>
    <div class="second_tit">최신 음악과 M/V를 즐기는 가장 편리한 방법! TV로 만나는 음악포털 몽키3를 <br>만나보세요. 스마트폰, PC와도 연동되는 스마트한 서비스~ <br> [OK]버튼을 누르시면 바로 이동합니다.</div>
    
    <div class="joyicon monkey3"></div><!-- 해당메뉴 아이콘 영역-->  
          
</div>
<div class="joy_position bt_147">확인</div>